.dashboard-wrapper {
    height: auto;
    background-color: #26294B;
    background-color: #bdbdbd;
    background-image: linear-gradient(19deg, #15404b 0%, #341a7e 100%);
    border-radius: 10px;
    padding:0 !important;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    margin-top: 25px;
    margin-bottom: 25px;
    width: 90vw;
    padding-right: 20px !important;
}

.sidenav-wrapper {
    display: flex;
    background-color: #202442;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 90vh;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.ul-wrapper {
    margin: 0 !important;
    padding: 0 !important;
}

.active-sidenav {
    color: #5a63ac !important;
    font-weight: 600;
    text-shadow: #9494941a  0px 4px 10px, #a8a8a817  0px 1px 10px;
}

.active-sidenav:hover {
    color: #50568b !important;
    font-weight: 600;
    text-shadow: #9494941a  0px 4px 10px, #a8a8a817  0px 1px 10px;
    text-decoration: none !important;
}
a:hover {
    font-weight: 600;
    text-shadow: #9494941a  0px 4px 10px, #a8a8a817  0px 1px 10px;
    text-decoration: none !important;
}

.navbar_links-sidenav {
    margin-top: 35px;
}

.icon {
    margin-right: 10px;
}

.sidenavbar_logo {
    height: 120px;
    margin-right: 10px;
    margin-bottom: 50px;
}

.logo-wrapper-sidenav {
    display: flex;
    justify-self: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    border-radius: 5px;
    align-self: center;
    height: 120px;
    width: 100%;
}

.custom-card {
    cursor: pointer;
    height: 200px;
    margin-top: 50px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    background-color: #2D325A;
    border-radius: 10px;
box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}



.balance {
    color: white;
    font-weight: 300;
    font-size: 60px;
}

.balance-tag {
    color: #898999;
}

.big-balance {
    color: white;
    font-weight: 300;
    font-size: 70px;
}

.big-balance-tag {
    color: #898999;
    font-size: 20px;
}

.icon-disabled {
    margin-right: 5px;
    font-size: 10px;
    margin-bottom: 16px;
    color: rgb(209, 58, 58);
    text-shadow: rgba(255, 0, 0, 0.25) 0px 54px 55px, rgba(251, 0, 0, 0.12) 0px -12px 30px, rgba(255, 0, 0, 0.12) 0px 4px 6px, rgba(255, 0, 0, 0.17) 0px 12px 13px, rgba(255, 12, 12, 0.09) 0px -3px 5px;
}

.disabled-text {
    color: #898999;
}

.icon-active {
    margin-right: 5px;
    font-size: 10px;
    margin-bottom: 16px;
    color: rgb(50, 173, 81);
    text-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    text-shadow: rgba(255, 0, 0, 0.25) 0px 54px 55px, rgba(0, 251, 0, 0.12) 0px -12px 30px, rgba(9, 255, 0, 0.12) 0px 4px 6px, rgba(0, 255, 21, 0.17) 0px 12px 13px, rgba(12, 255, 32, 0.09) 0px -3px 5px;
}

.active-text {
    color: #898999;
}

.disabled-wrapper {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}


.activate-savings-button {background-image: linear-gradient(to right, rgba(255, 0, 0, 0.25) 0%, rgba(255, 0, 0, 0.25)  51%, rgba(255, 0, 0, 0.25)  100%)}
.activate-savings-button {
    transition: 0.5s;
    background-size: 200% auto;
    border: none;
    border-radius: 5px;
    margin-left: 5px;
    margin-bottom: 15px;
    background-color: rgba(255, 0, 0, 0.25);
    color: white;
          }

.activate-savings-button:active {
    outline: none;
}
.activate-savings-button:focus {
    outline: none;
}

.activate-savings-button:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
    background-color: rgb(8, 255, 29);
}

.add-funds-button {
    transition: 0.5s;
    background-size: 200% auto;
    border: none;
    border-radius: 5px;
    margin-bottom: 15px;
    background-color: rgba(27, 172, 39, 0.726);
    color: white;
}

.add-funds-space {
    margin-left: 5px;
}

.icon-1 {
    color: rgb(69, 179, 78);
}

.add-funds-button:hover{
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
    background-color: rgb(78, 177, 86);
}
         

.animate__animated.animate__headShake {
    --animate-duration:60s;
}

.small-form {
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-content: center;
}

.small-input-wrapper {
    display: flex;
    flex-direction: column;
}

.small-input {
    border: none;
    margin-bottom: 18px;
    height: 30px;
    border-bottom: 1px solid #898999;
    background-color: #383b5000 !important;
    width: 240px;
    font-weight: 300;
    color: #f3f3f3fb;
}

::placeholder {
    color: #898999;
    font-weight: 400;
}
.small-input:active {
    background-color: #202442 !important;
}
.small-input:focus {
    border-bottom: 3px solid #202442;
    color: #ffffff;
    outline: none;
}

.gradient-card {
    transition: 0.5s;
    background-size: 200% auto;
    background-image: linear-gradient(to right, #2b5876 0%, #4e4376  51%, #2b5876  100%);
}

.gradient-card:hover {
    background-position: right center;
    color: #fff;
}

.last-div {
    padding-right: 4px;
    border-radius: 10px;
    height: 100%;
}

.last-card {
    background-color: #423462;
    margin-right: 20px;
}
.quick-pay-test {
    font-size: 15px;
    color: #898999;
    font-weight: 400;
}

.chart-div {
    margin-top: 50px;
    width: 43vw;
    height: 50%;
    background-color: none;
}

@media (max-width: 768px) {
    .dashboard-wrapper {
    }
}


         