.dashboard-wrapper {
    height: 600px;
    background-color: #26294B;
    border-radius: 10px;
    padding:0 !important;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.sidenav-wrapper {
    display: flex;
    background-color: #202442;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 600px;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.ul-wrapper {
    margin: 0 !important;
    padding: 0 !important;
}

.active-sidenav {

}
a {
    font-weight: 400;
    color: #687293 !important;
}

.navbar_links-sidenav {
    margin-top: 35px;
}

.icon {
    margin-right: 10px;
}

@media (max-width: 768px) {
    .dashboard-wrapper {
    }
}