.aboutPageContainer {
    background-color: #202442;
    margin-top: 40px;
    border-radius: 5px;
    padding: 20px;
}

.about-title{
    color: white;
    font-weight: 800;
    font-size: 60px;
}

.about-subheading {
    margin-top: 20px;
    color: white;
}

.about-feature {
    color: rgb(27, 172, 39);
    font-weight: 600;
    margin-top: 20px;
    
}

.about-feature-text{
    color: white;
}