.aboutPageContainer {
    background-color: #202442;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    padding: 40px;
    height: 80vh;
    overflow: scroll;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

}

.about-title{
    color: white;
    font-weight: 800;
    font-size: 60px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.about-subheading {
    margin-top: 20px;
    font-size: 40px;
    color: white;
    font-family: Cousine;
}
.about-feature {
    color: rgb(27, 172, 39);
    font-weight: 600;
    margin-top: 20px;
    font-family: Cousine;
    
}

.about-feature-text{
    color: white;
}

.profile-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    height: 100%;
}

.profile-pic {
    height: 200px;
    width: 200px;
    align-self: center;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.about-link {
    color: white !important;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

}

@media (max-width: 768px) {
    .aboutPageContainer {
    height: 80vh;
    overflow: scroll;
    border-radius: 0px;
}
}