.virtual-card-container {
}

.virtual-card-info-card {
    font-weight: 100px;
    color: white;
    background-image: linear-gradient(to right, #2b5876 0%, #4e4376  51%, #2b5876  100%);
    padding: 20px 40px !important;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.vc-card-title {
    font-family: Cousine;
    font-size: 25px;
}

.vc-card-text {
    font-family: Cousine;
}