/* TODO Add site wide styles */

@import url('https://fonts.googleapis.com/css2?family=Cousine:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/******* 404 page styles*/
#root {
    height: calc(100vh);
    background-color: #080A14;
    font-family: 'Barlow', sans-serif;
    max-width: 100%;
    overflow: hidden;
    background-size: cover;
}

.home_image {
    width: 1000px;
    position:absolute; top:2%; right: 1px; left: -240px;
    z-index: 1;
}

html, body {
    background-color: #000000;
    font-family: 'Barlow', sans-serif;

}

.title-404 {
    text-align: center;
    color: white;
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
    margin-bottom: 50px;
    font-size: 50px;
}

.text-404 {
    text-align: center;
    color: white;
    font-family: 'Barlow', sans-serif;
    font-weight: 300;
    width: 100%;
    align-self: center;
}

.test-404 {
    font-family: Cousine;
    color: #00c921 !important;
    padding-bottom: 20px !important;
}

.test-404:hover {
    text-shadow: #00c9b87c 0px 4px 10px, #00c9b86e 0px 1px 10px;
    text-decoration: none;
}

.bg-404 {
    display: flex;
    flex-direction: column;
    align-content: center;
    background-color: transparent !important;
}

.inv-box{
    height: 24px;
}

.animate__animated.animate__slideInRight {
  --animate-duration:80s;
}


/*** Foooter **/

/*** Navbar **/
.navbar_logo {
    height: 35px;
    margin-bottom: 5px;
}
.logo {
    display: flex;
    align-items: center;
}

.logo-text a {
    padding-top: 60px;
    color: white !important;
    font-weight: 900 !important;
    text-shadow: 2px 3px 0px #898999;
    cursor: pointer;
    font-size: 50px;
}

.logo-text:hover a:hover{
    text-decoration: none;
}

nav {
    display: flex;
}

.navbar_container{
    display: flex;
    list-style: none;
    justify-content: flex-end;
    height: 100%;
}

.navbar_links {
    margin-top: 35px;
    margin-left: 20px;
}

.active {
    color: #464d80 !important;
    font-weight: 600;
    text-shadow: #05515869 0px 4px 10px, #0d3d3f6e 0px 1px 10px;
}

a {
    font-weight: 400;
    color:#5d677c !important;
}

.navbar_link:hover{
    text-decoration:none;
    text-decoration-color: #5d677c;
    text-decoration-thickness: 2px;
}



/*** Home page styles**/


.main-header-h1 {
    font-family: 'Barlow', sans-serif;
    color: white;
    font-weight: 800;
    font-size: 80px;
    z-index: 3;
}

.main-header-container {
    padding-top: 40px;
    z-index: 2;
}

.animate__animated.animate__shakeY {
    --animate-duration:30s;
}

.home-cta {
    color: #3b416d;
    font-weight: 800;
}


.tiny-text {
    color: #3b416d;
    border-left: 3px solid #202442;
    padding-left: 10px;
}


.demo-button  {background-color: rgba(27, 172, 39, 0.726);
    color: white;
    cursor: pointer !important;
}
.demo-button  {
margin-top: 30px;
padding: 15px 45px;
text-align: center;
text-transform: uppercase;
transition: 0.5s;
background-size: 200% auto;
color: #ffffff;            
border-radius: 10px;
border: none;
}

.demo-button:hover{

}


         .demo-button-home {background: #22386b}
         .demo-button-home {
             margin-top: 40px;
            padding: 15px 45px;
            text-align: center;
            text-transform: uppercase;
            transition: 0.5s;
            background-size: 200% auto;
            color: white;            
            border-radius: 5px;
            display: block;
            border:none;
            width: 100%;
          }

          .demo-button-home:hover {
            background-position: right center; /* change the direction of the change here */
            color: #fff;
            text-decoration: none;
          }

         .logout-button-home {background: #22386b}
         .logout-button-home {
             margin-top: 10px;
            padding: 15px 45px;
            text-align: center;
            text-transform: uppercase;
            transition: 0.5s;
            background-size: 200% auto;
            color: white;            
            border-radius: 5px;
            display: block;
            border:none;
            width: 75%;
          }

          .logout-button-home:hover {
            background-position: right center; /* change the direction of the change here */
            color: #fff;
            text-decoration: none;
          }
         

.logout-button {
    padding: 5px 25px !important;
    height: 35px;
    border-radius: 5px;
}
.welcome-message-2 {
    color: #898999;
    font-size: 14px;
    font-family: Cousine;
    margin-left: 2px;
}

.welcome-message-1 {
    color: rgb(255, 255, 255) !important;
    font-weight: 900 !important;
}


@media (max-width: 768px) {
    #root {
    height: calc(100%);
    font-family: 'Barlow', sans-serif;
}
.animate__animated.animate__slideInRight {
  --animate-duration:20s;
}



    .logo {
        justify-items: center;
        align-items: center;
        justify-content: center;
        align-content: center;
        margin-top: 20px;
    }

    .navbar_links {
    margin-left: none;
}

    .navbar_container {
        justify-items: center;
        align-items: center;
        justify-content: center;
        align-content: center;
        align-self: center;
        padding-right: 55px !important;
        height: 25px;
    }
}