/* TODO Add site wide styles */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');


/******* 404 page styles*/
body {
    height: calc(100vh);
    background-image: linear-gradient(to bottom, #001c44, #1b1330, #1d0c1e, #15050f, #000000);
}

.title-404 {
    text-align: center;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    margin-bottom: 20px;
}

.text-404 {
    text-align: center;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    width: 60%;
    align-self: center;
    padding-bottom: 50px;;
}

.bg-404 {
    display: flex;
    flex-direction: column;
    align-content: center;
    background-color: transparent !important;
}

.animate__animated.animate__slideInRight {
  --animate-duration:60s;
}

.active {
    color: #00C9B7;
}

/*** Foooter **/

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: none;
  color: white;
  text-align: center;
  height: 100px;

}