.form {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-content: center;
    justify-content: center;
    background-image: linear-gradient(19deg, #15404b 0%, #341a7e 100%);
    width: 80%;
    height: 650px;
    padding: 80px 60px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    margin-bottom: 40px;
}

.label-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.form-wrapper {
    margin-top: 30px;
    height: 600px;
    margin-bottom: 30px;
}

.form-wrapper-register {
    margin-top: 30px;
    margin-bottom: 30px;
}

.form-title {
    color: white;
    font-size: 75px;
    margin-bottom: 50px;
    font-weight: 800;
    text-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.input {
    background: #3d4372;
    border-radius: 5px;
    border: 3px solid #353a62;
    margin-bottom: 20px;
}

.input:focus {
    outline: none;
    border: 3px solid #495299;
}

.label {
    color: white;
}

::placeholder {
    padding-left: 10px;
}

.name-box{
    display: flex;
    justify-content: space-around;
}

@media (max-width: 768px) {
    .form-title {
        text-align: center;
    }

    .welcome {
        color: #00C9B7;
    border-left: none !important;
    padding-left: none;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    }
}