.form {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-content: center;
    justify-content: center;
    background-color: #202442;
    width: 80%;
    height: 500px;
    padding: 40px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.label-wrapper {
    display: flex;
    flex-direction: column;
}

.form-wrapper {
    height: 600px;
}

.form-title {
    color: white;
    font-size: 75px;
    margin-bottom: 50px;
    font-weight: 800;
    text-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

@media (max-width: 768px) {
    .form-title {
        text-align: center;
    }
}